.card-item {
  border-radius: 6px;
  overflow: hidden;
  position: relative;

  &:hover {
    .layout {
      transform: translateY(0);
    }
  }

  .bg{
    img {
      width: 100%;
    }
  }

  .layout {
    background-color: rgba($color: #2B2F3C, $alpha: 0.65);
    max-width: 100%;
    height: 100%;
    padding: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(85%);
    z-index: 2;
    color: #fff;
    transition: transform .2s ease-in-out;

    &__top {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-mail {
        width: 100%;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      &-rate {
        display: flex;
        margin-left: 15px;
        align-items: center;
        img {
          position: relative;
          top: -3px;
          margin-left: 5px;
        }
      }

      &-mail, &-rate {
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    &__body {
      font-weight: 500;
      margin-top: 20px;
    }
  }
}