$index: calc(1vw + 1vh);

.card-items {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-item {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: calc($index * 12);
  margin-bottom: calc($index * 1.5);
  margin-left: calc($index * .75);
  margin-right: calc($index * .75);

  &:hover {
    .layout {
      transform: translateY(0);
      &__top {
        margin-top: calc($index*2);
      }
    }
  }

  .bg{
    width: 100%;
    img {
      width: 100%;
    }
  }

  .layout {
    background-color: rgba($color: #2B2F3C, $alpha: 0.65);
    padding: $index;
    max-width: calc(100% - ($index*2));
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    bottom: 0;
    left: 0;
    transform: translateY(calc(100% - ($index*2.7)));
    z-index: 2;
    color: #fff;
    transition: all .2s ease;

    &__wrapper {
      width: 100%;
    }

    &__top {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-mail {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-rate {
        display: flex;
        margin-left: $index;
        align-items: center;
        img {
          height: $index;
          position: relative;
          top: calc($index * -0.1);
          margin-left: calc($index * 0.4);
        }
      }

      &-mail, &-rate {
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    &__body {
      font-weight: 500;
      margin-top: $index;
    }
  }
}