$index: calc(1vw + 1vh);

@media (max-width: 1200px) {
  .card-item {
    width: 30%;
    margin-left: calc($index * .5);
    margin-right: calc($index * .5);
  }
}

@media (max-width: 992px) {
  .card-item {
    width: 45%;
    height: calc($index * 15);
  
    .layout {
      transform: translateY(calc(100% - ($index*2.9)));
    }
  }
}

@media (max-width: 575px) {
  .card-item {
    width: 90%;

    .layout {
      transform: translateY(calc(100% - ($index*3.2)));
    }
  }
}