$index: calc(1vw + 1vh);

body {
  margin: 0;
  padding: 0;
  background-color: #2B2F3C;
  padding: 30px 80px;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: calc($index * 0.65);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: flex-end;

  .auth {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .no-auth {
    justify-content: flex-end;
  }

  h1 {
    color: #7469F3;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #434343;
  margin-top: 35px;
  padding: calc($index);
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #fff, $alpha: 0);
  z-index: -1;
  transition: background-color .2s ease-in-out;
  

  &.active {
    z-index: 2;
    background-color: rgba($color: #fff, $alpha: .4);
  }
}